//ş
$logoContainerVeImgGenislikOrani: 1.136364;
$logoGenisligi: 256px;
$logoContainerGenisligi: round($logoGenisligi * $logoContainerVeImgGenislikOrani);
$kucukLogoYuksekligi: 52px;
$AlangoyaRengi: #183c57;
$AlangoyaRengi-Acik: lighten($AlangoyaRengi, 14%);
$AlangoyaRengi-Acik2: lighten($AlangoyaRengi, 27%);
$color-darkGray2: #454545;
$color-darkGray1: #434343;
$color-primary: $AlangoyaRengi-Acik2;//#28a5df;
$color-gray: #999;
$color-dark: #282828;
$color-owlCarousel-blue-gray: #7697a2;
$color-danger: #dd442c;
$color-veryDarkPrimary: rgba(0, 38, 51, 0.85);
